In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
di=pd.read_csv(r"C:\Users\HOME\Downloads\diamonds.csv")

In [5]:
di

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
di.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  bool
 1   carat       53940 non-null  bool
 2   cut         53940 non-null  bool
 3   color       53940 non-null  bool
 4   clarity     53940 non-null  bool
 5   depth       53940 non-null  bool
 6   table       53940 non-null  bool
 7   price       53940 non-null  bool
 8   x           53940 non-null  bool
 9   y           53940 non-null  bool
 10  z           53940 non-null  bool
dtypes: bool(11)
memory usage: 579.6 KB

In [7]:
di.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
di

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [9]:
# Categorical columns
cat_col = [col for col in di.columns if di[col].dtype == 'object']
print('Categorical columns :',cat_col)
# Numerical columns
num_col = [col for col in di.columns if di[col].dtype != 'object']
print('Numerical columns :',num_col)

Categorical columns : ['cut', 'color', 'clarity']
Numerical columns : ['carat', 'depth', 'table', 'price', 'x', 'y', 'z']

In [10]:
di.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [11]:
di.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [12]:
di.shape

(53940, 10)

In [13]:
di.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [14]:
di.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [15]:
di.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [16]:
y=di['price']
X=di.drop(columns='price')

In [17]:
import sklearn
from sklearn.model_selection import train_test_split

In [78]:
Xcont,Xcat = X[['carat','depth','table','x','y','z']],X[['cut','color','clarity']]

In [79]:
Xcont_train,Xcont_test, Xcat_train, Xcat_test, y_train, y_test =train_test_split(Xcont,Xcat,y,
                 test_size = 0.25,
                 random_state = 42
                 )

In [80]:
Xcont_train.shape ,Xcont_test.shape, Xcat_train.shape, Xcat_test.shape, len(y_train), len(y_test)

((40455, 6), (13485, 6), (40455, 3), (13485, 3), 40455, 13485)

In [81]:
Xcont_train

       carat  depth  table     x     y     z
35965   0.25   64.9   58.0  3.95  3.97  2.57
52281   0.84   61.8   56.0  6.04  6.07  3.74
6957    1.05   61.1   58.0  6.56  6.51  3.99
9163    1.02   60.7   56.0  6.53  6.50  3.95
50598   0.61   61.8   57.0  5.43  5.47  3.37
...      ...    ...    ...   ...   ...   ...
11284   1.05   62.4   59.0  6.48  6.51  4.05
44732   0.47   61.0   55.0  5.03  5.01  3.06
38158   0.33   60.3   58.0  4.49  4.46  2.70
860     0.90   62.8   59.0  6.13  6.03  3.82
15795   1.14   60.4   58.0  6.82  6.79  4.11

[40455 rows x 6 columns]

In [82]:
# copy the train data & test data
before_Norm_Train = Xcont_train.copy()
before_Norm_Test = Xcont_test.copy()

# MinMaxScaler

In [83]:
from sklearn.preprocessing import MinMaxScaler

In [84]:
normScaler=MinMaxScaler()

In [85]:
normScaler = MinMaxScaler()
normScaler.fit_transform(Xcont_train)

array([[0.01039501, 0.60833333, 0.28846154, 0.36778399, 0.06740238,
        0.08081761],
       [0.13305613, 0.52222222, 0.25      , 0.56238361, 0.10305603,
        0.11761006],
       [0.17671518, 0.50277778, 0.28846154, 0.61080074, 0.11052632,
        0.1254717 ],
       ...,
       [0.02702703, 0.48055556, 0.28846154, 0.41806331, 0.07572156,
        0.08490566],
       [0.14553015, 0.55      , 0.30769231, 0.5707635 , 0.10237691,
        0.12012579],
       [0.1954262 , 0.48333333, 0.28846154, 0.63500931, 0.11528014,
        0.12924528]])

In [86]:
X_cont_norm_Train = pd.DataFrame(normScaler.fit_transform(Xcont_train),  # In the form of Pandas
                                columns = Xcont_train.columns,
                                index = Xcont_train.index)

In [87]:
X_cont_norm_Test = pd.DataFrame(normScaler.fit_transform(Xcont_test),  # In the form of Pandas
                                columns = Xcont_test.columns,
                                index = Xcont_test.index)

In [88]:
X_cont_norm_Train

          carat     depth     table         x         y         z
35965  0.010395  0.608333  0.288462  0.367784  0.067402  0.080818
52281  0.133056  0.522222  0.250000  0.562384  0.103056  0.117610
6957   0.176715  0.502778  0.288462  0.610801  0.110526  0.125472
9163   0.170478  0.491667  0.250000  0.608007  0.110357  0.124214
50598  0.085239  0.522222  0.269231  0.505587  0.092869  0.105975
...         ...       ...       ...       ...       ...       ...
11284  0.176715  0.538889  0.307692  0.603352  0.110526  0.127358
44732  0.056133  0.500000  0.230769  0.468343  0.085059  0.096226
38158  0.027027  0.480556  0.288462  0.418063  0.075722  0.084906
860    0.145530  0.550000  0.307692  0.570764  0.102377  0.120126
15795  0.195426  0.483333  0.288462  0.635009  0.115280  0.129245

[40455 rows x 6 columns]

In [89]:
X_cont_norm_Test

          carat     depth     table         x         y         z
1388   0.010499  0.530556  0.291667  0.391519  0.125786  0.391442
50052  0.099738  0.472222  0.333333  0.536489  0.170440  0.516640
41645  0.052493  0.530556  0.250000  0.469428  0.149057  0.467512
42377  0.060367  0.494444  0.333333  0.485207  0.153774  0.472266
17244  0.354331  0.536111  0.250000  0.733728  0.231761  0.730586
...         ...       ...       ...       ...       ...       ...
36825  0.094488  0.480556  0.416667  0.522682  0.167925  0.508716
24803  0.375328  0.466667  0.291667  0.746548  0.240252  0.721078
20999  0.265092  0.538889  0.208333  0.676529  0.213836  0.675119
8471   0.212598  0.533333  0.416667  0.632150  0.202830  0.633914
4204   0.220472  0.550000  0.416667  0.638067  0.201887  0.641838

[13485 rows x 6 columns]

# standardization

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
standScaler=StandardScaler() # object of standard scaler

In [32]:
Xcont_train_stand = pd.DataFrame(standScaler.fit_transform(Xcont_train),
             columns = Xcont_train.columns,
             index = Xcont_train.index)

In [33]:
Xcont_train_stand

          carat     depth     table         x         y         z
35965 -1.156665  2.207837  0.242414 -1.589985 -1.544446 -1.365816
52281  0.086917  0.038517 -0.654923  0.273560  0.291506  0.282149
6957   0.529547 -0.451329  0.242414  0.737217  0.676181  0.634279
9163   0.466314 -0.731242 -0.654923  0.710468  0.667439  0.577938
50598 -0.397869  0.038517 -0.206254 -0.270345 -0.233052 -0.239002
...         ...       ...       ...       ...       ...       ...
11284  0.529547  0.458385  0.691082  0.665885  0.676181  0.718790
44732 -0.692956 -0.521308 -1.103591 -0.627005 -0.635213 -0.675642
38158 -0.988043 -1.011154  0.242414 -1.108495 -1.116058 -1.182709
860    0.213383  0.738297  0.691082  0.353808  0.256535  0.394831
15795  0.719246 -0.941176  0.242414  0.969046  0.920975  0.803301

[40455 rows x 6 columns]

In [34]:
Xcont_test_stand = pd.DataFrame(standScaler.transform(Xcont_test),
             columns = Xcont_test.columns,
             index = Xcont_test.index)

In [35]:
Xcont_test_stand

          carat     depth     table         x         y         z
1388  -1.177742  0.248451 -0.654923 -1.572152 -1.518219 -1.506668
50052 -0.461102 -1.221088 -0.206254 -0.261429 -0.276765 -0.393939
41645 -0.840500  0.248451 -1.103591 -0.867750 -0.871264 -0.830579
42377 -0.777267 -0.661264 -0.206254 -0.725086 -0.740125 -0.788324
17244  1.583430  0.388407 -1.103591  1.521868  1.428047  1.507560
...         ...       ...       ...       ...       ...       ...
36825 -0.503257 -1.011154  0.691082 -0.386260 -0.346706 -0.464365
24803  1.752051 -1.361044 -0.654923  1.637782  1.664098  1.423049
20999  0.866790  0.458385 -1.552260  1.004712  0.929718  1.014579
8471   0.445237  0.318429  0.691082  0.603470  0.623726  0.648364
4204   0.508470  0.738297  0.691082  0.656969  0.597498  0.718790

[13485 rows x 6 columns]

# Robust scaler

In [44]:
from sklearn.preprocessing import RobustScaler

In [45]:
robScaler = RobustScaler() # object of robust scaler

In [46]:
Xcont_train_robust = pd.DataFrame(robScaler.fit_transform(Xcont_train),
             columns = Xcont_train.columns,
             index = Xcont_train.index)

In [47]:
Xcont_train_robust

          carat     depth     table         x         y         z
35965 -0.703125  2.066667  0.333333 -0.961538 -0.961326 -0.849558
52281  0.218750  0.000000 -0.333333  0.186813  0.198895  0.185841
6957   0.546875 -0.466667  0.333333  0.472527  0.441989  0.407080
9163   0.500000 -0.733333 -0.333333  0.456044  0.436464  0.371681
50598 -0.140625  0.000000  0.000000 -0.148352 -0.132597 -0.141593
...         ...       ...       ...       ...       ...       ...
11284  0.546875  0.400000  0.666667  0.428571  0.441989  0.460177
44732 -0.359375 -0.533333 -0.666667 -0.368132 -0.386740 -0.415929
38158 -0.578125 -1.000000  0.333333 -0.664835 -0.690608 -0.734513
860    0.312500  0.666667  0.666667  0.236264  0.176796  0.256637
15795  0.687500 -0.933333  0.333333  0.615385  0.596685  0.513274

[40455 rows x 6 columns]

In [48]:
Xcont_test_robust = pd.DataFrame(robScaler.transform(Xcont_test),
             columns = Xcont_test.columns,
             index = Xcont_test.index)

In [49]:
Xcont_test_robust

          carat     depth     table         x         y         z
1388  -0.718750  0.200000 -0.333333 -0.950549 -0.944751 -0.938053
50052 -0.187500 -1.200000  0.000000 -0.142857 -0.160221 -0.238938
41645 -0.468750  0.200000 -0.666667 -0.516484 -0.535912 -0.513274
42377 -0.421875 -0.666667  0.000000 -0.428571 -0.453039 -0.486726
17244  1.328125  0.333333 -0.666667  0.956044  0.917127  0.955752
...         ...       ...       ...       ...       ...       ...
36825 -0.218750 -1.000000  0.666667 -0.219780 -0.204420 -0.283186
24803  1.453125 -1.333333 -0.333333  1.027473  1.066298  0.902655
20999  0.796875  0.400000 -1.000000  0.637363  0.602210  0.646018
8471   0.484375  0.266667  0.666667  0.390110  0.408840  0.415929
4204   0.531250  0.666667  0.666667  0.423077  0.392265  0.460177

[13485 rows x 6 columns]

# Categorical Encoding

# Odinal Encoding

In [50]:
# nominal train & test
X_catg_Train_nominal = Xcat_train[['color','clarity']]
X_catg_Test_nominal = Xcat_test[['color','clarity']]

In [51]:
# odinal train & test
X_catg_Train_odinal = Xcat_train['cut']
X_catg_Test_odinal = Xcat_test['cut']

In [52]:
cut_dict = {'Fair':0, "Good":1,"Very Good":2,'Ideal':3,"Premium":4}

In [53]:
X_catg_Train_odinal = pd.DataFrame(X_catg_Train_odinal.map(cut_dict))
X_catg_Train_odinal

       cut
35965    1
52281    3
6957     4
9163     3
50598    3
...    ...
11284    2
44732    3
38158    2
860      4
15795    4

[40455 rows x 1 columns]

In [54]:
X_catg_Test_odinal = pd.DataFrame(X_catg_Test_odinal.map(cut_dict))
X_catg_Test_odinal

       cut
1388     3
50052    2
41645    3
42377    4
17244    3
...    ...
36825    2
24803    1
20999    3
8471     4
4204     4

[13485 rows x 1 columns]

# One Hot Encoding

In [55]:
Xcat_train[['color','clarity']]

      color clarity
35965     E    VVS2
52281     J     SI1
6957      J     VS2
9163      F     SI2
50598     F     VS1
...     ...     ...
11284     I     VS2
44732     D     VS1
38158     F      IF
860       J     SI1
15795     F     SI1

[40455 rows x 2 columns]

In [56]:
from sklearn.preprocessing import OneHotEncoder

In [57]:
oneEnc=OneHotEncoder(sparse_output=False,drop='first')

In [58]:
xCatNomial_trainOneHot = pd.DataFrame(oneEnc.fit_transform(X_catg_Train_nominal),
                                     columns = oneEnc.get_feature_names_out(),
                                     index = X_catg_Train_nominal.index)

xCatNomial_trainOneHot

,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
35965,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
52281,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6957,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9163,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50598,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
44732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38158,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
860,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15795,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [59]:
xCatNomialTestOneHot = pd.DataFrame(oneEnc.transform(X_catg_Test_nominal),
                                     columns = oneEnc.get_feature_names_out(),
                                     index = X_catg_Test_nominal.index)

xCatNomialTestOneHot

,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
1388,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
50052,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
41645,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42377,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17244,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
24803,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20999,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8471,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4204,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [60]:
import category_encoders

In [61]:
from category_encoders import BinaryEncoder

In [62]:
binEnc = BinaryEncoder(cols =X_cont_norm_Train.columns)

In [63]:
XcatNominal_trainBinEnc = binEnc.fit_transform(X_cont_norm_Train)
XcatNominal_trainBinEnc

,carat_0,carat_1,carat_2,carat_3,carat_4,carat_5,carat_6,carat_7,carat_8,depth_0,...,y_9,z_0,z_1,z_2,z_3,z_4,z_5,z_6,z_7,z_8
35965,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
52281,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
6957,0,0,0,0,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,1,1
9163,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
50598,0,0,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0,0,0,0,0,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,1
44732,0,0,1,1,0,0,1,0,1,0,...,1,0,1,1,1,0,1,0,0,1
38158,0,0,0,0,0,1,1,0,1,0,...,1,0,0,0,1,1,0,1,0,0
860,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,1
15795,0,0,0,1,1,1,0,1,1,0,...,0,0,1,0,0,1,1,1,0,1

In [64]:
XcatNominal_testBinEnc = binEnc.transform(X_cont_norm_Test)
XcatNominal_testBinEnc

,carat_0,carat_1,carat_2,carat_3,carat_4,carat_5,carat_6,carat_7,carat_8,depth_0,...,y_9,z_0,z_1,z_2,z_3,z_4,z_5,z_6,z_7,z_8
1388,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50052,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8471,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# onehotencoding-leaveone hot encoding

In [65]:
from category_encoders import LeaveOneOutEncoder
LeaveOneOutEncoder = LeaveOneOutEncoder()

In [66]:
X_catg_Train_nominal

      color clarity
35965     E    VVS2
52281     J     SI1
6957      J     VS2
9163      F     SI2
50598     F     VS1
...     ...     ...
11284     I     VS2
44732     D     VS1
38158     F      IF
860       J     SI1
15795     F     SI1

[40455 rows x 2 columns]

In [67]:
X_catg_Train_nominal_targetloe = LeaveOneOutEncoder.fit_transform(X_catg_Train_nominal,y_train)

In [68]:
X_catg_Test_nominal_targetloe = LeaveOneOutEncoder.fit_transform(X_catg_Test_nominal,y_test)

In [69]:
X_catg_Train_nominal_targetloe

             color      clarity
35965  3078.542811  3283.339979
52281  5299.090736  4021.986333
6957   5298.305938  3917.406090
9163   3737.300864  5070.165597
50598  3737.615524  3839.141831
...            ...          ...
11284  5101.838316  3917.315824
44732  3171.165188  3839.250530
38158  3737.792363  2921.034277
860    5298.911164  4021.948066
15795  3737.052954  4021.598907

[40455 rows x 2 columns]

In [70]:
X_catg_Test_nominal_targetloe

             color      clarity
1388   3969.409233  2404.574257
50052  3687.501269  3287.872504
41645  3073.168650  3288.612135
42377  3073.141568  3288.561444
17244  3070.844891  5041.543199
...            ...          ...
36825  5408.338088  3916.836421
24803  3682.854061  3912.996546
20999  3069.895363  3945.968964
8471   3686.564298  5042.606074
4204   3968.366192  5042.970488

[13485 rows x 2 columns]

# Target Encoding

In [71]:
from category_encoders import TargetEncoder
TargetEncoder = TargetEncoder(cols = ['color','clarity'])
X_catg_Train_nominal_target = TargetEncoder.fit_transform(X_catg_Train_nominal,y_train)
X_catg_Train_nominal_target

             color      clarity
35965  3078.189156  3282.593941
52281  5297.758310  4021.831562
6957   5297.758310  3917.430839
9163   3737.412847  5070.088403
50598  3737.412847  3838.887892
...            ...          ...
11284  5101.806725  3917.430839
44732  3170.858888  3838.887892
38158  3737.412847  2919.614296
860    5297.758310  4021.831562
15795  3737.412847  4021.831562

[40455 rows x 2 columns]

In [72]:
X_catg_Test_nominal_target = TargetEncoder.transform(X_catg_Test_nominal,y_test)
X_catg_Test_nominal_target

             color      clarity
1388   4009.728062  2563.084517
50052  3737.412847  3282.593941
41645  3078.189156  3282.593941
42377  3078.189156  3282.593941
17244  3078.189156  5070.088403
...            ...          ...
36825  5297.758310  4021.831562
24803  3737.412847  4021.831562
20999  3078.189156  3917.430839
8471   3737.412847  5070.088403
4204   4009.728062  5070.088403

[13485 rows x 2 columns]

In [73]:
X_Train_1 = pd.concat([X_cont_norm_Train,X_catg_Train_odinal,xCatNomial_trainOneHot],axis =1)
X_Train_1.head()

,carat,depth,table,x,y,z,cut,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
35965,0.010395,0.608333,0.288462,0.367784,0.067402,0.080818,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
52281,0.133056,0.522222,0.250000,0.562384,0.103056,0.117610,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6957,0.176715,0.502778,0.288462,0.610801,0.110526,0.125472,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9163,0.170478,0.491667,0.250000,0.608007,0.110357,0.124214,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
50598,0.085239,0.522222,0.269231,0.505587,0.092869,0.105975,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [74]:
X_Test_1 = pd.concat([X_cont_norm_Train,X_catg_Train_odinal,xCatNomial_trainOneHot],axis =1)
X_Test_1.tail()

,carat,depth,table,x,y,z,cut,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
11284,0.176715,0.538889,0.307692,0.603352,0.110526,0.127358,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
44732,0.056133,0.500000,0.230769,0.468343,0.085059,0.096226,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38158,0.027027,0.480556,0.288462,0.418063,0.075722,0.084906,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
860,0.145530,0.550000,0.307692,0.570764,0.102377,0.120126,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15795,0.195426,0.483333,0.288462,0.635009,0.115280,0.129245,4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [90]:
for i,k in enumerate(Xcat_train.columns):
    print(f'{i}--{k}')

0--cut
1--color
2--clarity

In [91]:
for i,k in enumerate(Xcont_train.columns):
    print(f'{i}--{k}')

0--carat
1--depth
2--table
3--x
4--y
5--z

In [102]:
di.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [103]:
di=di[['carat', 'cut', 'color', 'clarity', 'depth','price']]
di

       carat        cut color clarity  depth  price
0       0.23      Ideal     E     SI2   61.5    326
1       0.21    Premium     E     SI1   59.8    326
2       0.23       Good     E     VS1   56.9    327
3       0.29    Premium     I     VS2   62.4    334
4       0.31       Good     J     SI2   63.3    335
...      ...        ...   ...     ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   2757
53936   0.72       Good     D     SI1   63.1   2757
53937   0.70  Very Good     D     SI1   62.8   2757
53938   0.86    Premium     H     SI2   61.0   2757
53939   0.75      Ideal     D     SI2   62.2   2757

[53940 rows x 6 columns]

In [106]:
X, y = di.drop(columns = ['price']), di['price']
xCont, xCat = X[['cut', 'carat']], X.drop(columns = ['cut', 'carat'])

In [107]:
import sklearn
from sklearn.model_selection import train_test_split

In [108]:
xTrain,xTest,yTrain,yTest=train_test_split(X,y,
                                          test_size=0.32,
                                          random_state=23)

In [109]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler, PowerTransformer, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [110]:
for i,k in enumerate(xTrain.columns):
    print(f'{i}--{k}')

0--carat
1--cut
2--color
3--clarity
4--depth

In [122]:
catColsNominal = ['color','cut','carat' 'clarity', 'depth']
catColsOrdinal = ['cut']
contCols = ['cut', 'carat']

In [125]:
catNominalPipeLine = Pipeline(steps = [
    ('simpleImputer', SimpleImputer(strategy = 'most_frequent')),
    ('OrdinalEncoder' , OrdinalEncoder(categories = [['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']]))

])

In [126]:
catOrdinalPipeline = Pipeline(steps = [
    ('ordImputer',SimpleImputer(strategy = 'most_frequent')),
    ('ordEncoding', OrdinalEncoder())
])

In [127]:
contPipeline = Pipeline(steps = [
    ('simpleImputation', SimpleImputer(strategy = 'median')),
    ('robustScaler', RobustScaler()),
    ('yeoJohnson', PowerTransformer())
])

In [128]:
# colTransformer
preColTrans = ColumnTransformer(transformers = [
    ('catNominalPipeLine', catNominalPipeLine,  catColsNominal),
    ('catOrdinalPipeline', catOrdinalPipeline,  catColsOrdinal),
    ('contPipeline', contPipeline, contCols)
], remainder = 'passthrough')

In [129]:
finalPipeLine = Pipeline(steps = [
    ('preColTrans', preColTrans),
])

In [130]:
finalPipeLine

Pipeline(steps=[('preColTrans',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('catNominalPipeLine',
                                                  Pipeline(steps=[('simpleImputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('OrdinalEncoder',
                                                                   OrdinalEncoder(categories=[['Ideal',
                                                                                               'Premium',
                                                                                               'Very '
                                                                                               'Good',
                                                                                               'Good',
                                                                                               'Fair']]))]),
                                                  ['color', 'cut',
                                                   'caratclarity', 'depth']),
                                                 ('catOrdinalPipeline',
                                                  Pipeline(steps=[('ordImputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('ordEncoding',
                                                                   OrdinalEncoder())]),
                                                  ['cut']),
                                                 ('contPipeline',
                                                  Pipeline(steps=[('simpleImputation',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('robustScaler',
                                                                   RobustScaler()),
                                                                  ('yeoJohnson',
                                                                   PowerTransformer())]),
                                                  ['cut', 'carat'])]))])